public net.minecraft.client.gui.components.AbstractSelectionList renderHeader # renderHeader
public net.minecraft.client.gui.Font renderString(Ljava/lang/String;FFILcom/mojang/math/Matrix4f;ZZ)I # renderString
public net.minecraft.world.inventory.MenuType register(Ljava/lang/String;Lnet/minecraft/world/inventory/MenuType$MenuSupplier;)Lnet/minecraft/world/inventory/MenuType; # register

#create
public net.minecraft.client.Minecraft pausePartialTick # pausePartialTick
public net.minecraft.client.gui.Font getFontSet(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet; # getFontSet
public net.minecraft.client.gui.screens.TitleScreen panorama # panorama
public net.minecraft.client.multiplayer.ClientPacketListener serverChunkRadius # serverChunkRadius
protected net.minecraft.client.particle.Particle stoppedByCollision # stoppedByCollision
public net.minecraft.client.renderer.ItemInHandRenderer mainHandItem # mainHandItem
public net.minecraft.client.renderer.ItemInHandRenderer offHandItem # offHandItem
public net.minecraft.client.renderer.entity.ItemRenderer textureManager # textureManager
public net.minecraft.world.entity.Entity level # level
public-f net.minecraft.network.protocol.game.ClientboundPlayerAbilitiesPacket flyingSpeed # flyingSpeed

public net.minecraft.server.MinecraftServer storageSource # storageSource
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount # aboveGroundTickCount
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundVehicleTickCount # aboveGroundVehicleTickCount

public net.minecraft.world.entity.Entity removalReason # removalReason
protected net.minecraft.world.entity.Entity positionRider(Lnet/minecraft/world/entity/Entity;Lnet/minecraft/world/entity/Entity$MoveFunction;)V # positionRider
public net.minecraft.world.entity.LivingEntity jumping # jumping

public-f net.minecraft.world.item.HoneycombItem WAXABLES # WAXABLES
public net.minecraft.world.item.alchemy.PotionBrewing POTION_MIXES # POTION_MIXES
public net.minecraft.world.item.alchemy.PotionBrewing CONTAINER_MIXES # CONTAINER_MIXES
public net.minecraft.world.item.alchemy.PotionBrewing ALLOWED_CONTAINER # ALLOWED_CONTAINER
public net.minecraft.world.item.crafting.Ingredient values # values
public net.minecraft.world.item.crafting.RecipeManager recipes # recipes

public net.minecraft.world.level.BaseSpawner spawnPotentials # spawnPotentials
public net.minecraft.world.level.BaseSpawner nextSpawnData # nextSpawnData
public net.minecraft.world.level.biome.BiomeManager biomeZoomSeed # biomeZoomSeed
public net.minecraft.world.level.block.entity.BeaconBlockEntity beamSections # beamSections
public net.minecraft.world.level.chunk.HashMapPalette values # values
public net.minecraft.world.level.chunk.PaletteResize

public net.minecraft.client.model.geom.ModelPart cubes # cubes
public net.minecraft.client.model.geom.ModelPart children # children
public net.minecraft.client.model.AgeableListModel scaleHead # scaleHead
public net.minecraft.client.model.AgeableListModel babyYHeadOffset # babyYHeadOffset
public net.minecraft.client.model.AgeableListModel babyZHeadOffset # babyZHeadOffset
public net.minecraft.client.model.AgeableListModel babyHeadScale # babyHeadScale
public net.minecraft.client.model.AgeableListModel babyBodyScale # babyBodyScale
public net.minecraft.client.model.AgeableListModel bodyYOffset # bodyYOffset

public net.minecraft.client.gui.components.CommandSuggestions suggestions # suggestions
public net.minecraft.client.gui.components.CommandSuggestions$SuggestionsList <init>(Lnet/minecraft/client/gui/components/CommandSuggestions;IIILjava/util/List;Z)V # <init>